a {
    color: inherit;
}

nav ul {
    background-color: #388bdc;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
}

.menu {
    width: 100%;
    box-sizing: border-box;
    background-color: #388bdc;
    display: none;
    height: 50px
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

nav ul li a:hover {
    background-color: white;
    color: grey;
}

.help {
    padding: 10px 18px 10px 18px;
    border-radius: 35px;
}

.consultation {
    background-color: turquoise;
    padding: 10px 30px 10px 30px;
    border-radius: 35px;
}

.login {
    padding: 7px 4px 7px 14px;
    border-radius: 35px 0px 0px 35px;
    display: -webkit-inline-box;
    border: 1px solid white;
}

.flag {
    height: 40px;
    width: 45px;
    border-radius: 0px 35px 35px 0px;
    border: 1px solid white;
    background-image: url(/assets/flag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 922px) {
    nav ul {
        max-height: 0px;
    }
    .showing {
        max-height: 30em !important;
    }
    nav ul li {
        width: 100%;
        box-sizing: border-box;
    }
    .menu {
        display: block;
    }
    .icon {
        display: block;
        float: right;
        margin-top: 18px;
        margin-right: 20px;
        color: white;
    }
}