<nav>
    <ul class="" id="topnav">
        <li><a href="#" class="help">Home</a></li>
        <li><a href="#" class="help">News</a></li>
        <li><a href="#" class="help">Contact</a></li>
        <li><a href="#" class="help">About</a></li>
        <li><a href="#" class="help">Services</a></li>
        <li><a href="#" class="help">Help</a></li>
        <li><a href="#" class="consultation">E-consultation</a></li>
        <li style="display: -webkit-inline-box;"><a href="#" class="login"><i class="fa fa-user-o" aria-hidden="true"></i>
             Login 
            </a>
            <div class="flag"></div>
        </li>
    </ul>
    <div (click)="some()" class="menu"><i class="fa fa-align-justify icon"></i></div>
</nav>