<div class="workersPlace">
    <div class="container">
        <div class="infoWork">
            <h1>Recontres nos medecines</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam magnam quos eius rem ullam inventore delectus obcaecati </p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12  infWorkers" *ngFor="let item of workers">

                <div class="workers-data-contein">
                    <div class="infoWorkers">
                    </div>
                    <div class="workers-data">
                        <h5>{{item.name}}</h5>
                        <p>{{item.license}}</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>