.workersPlace {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.infWorkers {
    width: 300px;
    height: 300px;
}

.workers-data {
    height: 30%;
    width: 99.9%;
    text-align: center;
}

.workers-data-contein {
    height: 90%;
    cursor: pointer;
    width: 90%;
    box-shadow: 0px 4px 20px 1px rgb(131, 150, 165);
    transition: all 0.3s ease;
}

.workers-data-contein:hover {
    transform: scale(1.1, 1.1);
}

.workers-data p {
    color: green;
}

.workers-data h5 {
    color: #403b3b;
    padding-top: 10px;
}

.infoWorkers {
    height: 70%;
    width: 99.9%;
    background-image: url(/assets/doc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.infoWork {
    text-align: center;
}

.infoWork h1,
p {
    color: grey;
}

.infoWork p {
    padding: 25px;
}