<div class="clinicsPlace">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 clinics-banner">
                <div class="banner-photo"></div>
            </div>
            <div class="col-lg-8 clinics-info">
                <h1>Clinics</h1>
                <div class="row clin">
                    <div class="col-lg-6 clinik" *ngFor="let item of infoClinics">
                        <div class="row">
                            <div class="col-lg-3 infoPhoto" [ngStyle]="{'background-image': item.photo}"></div>
                            <div class="col-lg-9 infoText">
                                <p class="title-style">{{item.title}}</p>>
                                <p class="text-style">{{item.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>