.clinicsPlace {
    width: 100%;
    height: fit-content;
    margin-top: 50px;
}

.clinics-banner {
    height: 650px;
}

.banner-photo {
    height: 90%;
    width: 90%;
    background-image: url(/assets/clinic-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 20px 1px rgb(131, 150, 165);
}

.clinics-info {
    height: 600px;
}

.clinics-info h1 {
    color: #84889a;
    width: fit-content;
}

.infoPhoto {
    height: 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clin {
    height: 200px;
    width: 700px;
}

.infoText {
    height: 200px;
    word-wrap: break-word;
}

.infoText h5 {
    color: black;
}

.clinik {
    width: 80%;
    height: 80%;
}

.col-lg-9 {
    max-width: 65%;
}

.title-style {
    font-weight: bold;
    color: black
}

.text-style {
    color: grey;
    margin-top: -50px;
}