.more div {
    text-align: center;
    color: #5d5757;
}

.more {
    margin-top: 130px;
}

.moreMenu {
    height: fit-content;
}

.moreMenu h4 {
    color: #5d5757;
    margin-top: 10px;
}

@media screen and (max-width: 897px) {
    .moreMenu {
        margin-top: 5px;
    }
}