<div class="container more">
    <div class="row ">
        <div class="col-lg-4 moreMenu" *ngFor="let item of mores">
            <i [class]="item.icon"></i>
            <h4>{{item.name}}</h4>
            <p>{{item.info}}</p>
        </div>
    </div>
</div>