<div class="all container">
    <div class="row">
        <div class="col-lg-8 content">
            <div class="row">
                <div class="col-lg-8 appointText">
                    <h4>If you need a doctor?</h4>
                    <h3>Make an appointment now!</h3>
                </div>
                <div class="col-lg-4 appointButton">
                    <button class="Btn" disabled> Make an appointment</button>
                </div>
            </div>
        </div>
    </div>
</div>