.all {
    position: relative;
}

.content {
    height: fit-content;
    background-color: turquoise;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 1);
}

.appointText {
    padding: 20px;
}

.appointButton {
    padding: 20px;
    display: flex;
}

.Btn {
    cursor: pointer;
    border-radius: 4px;
    background-color: Transparent;
    border: 2px solid white;
    color: white;
    height: 50px;
    margin: auto;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.Btn:hover {
    transform: scale(1.08, 1.08);
}

@media screen and (max-width: 991px) {
    .appointText {
        text-align: center;
        padding-bottom: 5px;
    }
    .appointButton {
        padding: 0;
        padding-bottom: 25px;
    }
}