<div class="serviceWall">
    <div class="container">
        <div class="serviceName">
            <br>
            <h2>Services</h2>
            <br>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 custom-container" *ngFor="let item of services">
                <div class="circle">
                    <div class="circle-icon">
                        <i [class]="item.icon"></i>
                    </div>

                </div>
                <br>
                <div class="label">
                    <h5>{{item.text}}</h5>
                </div>
            </div>
        </div>
        <div class="allForService">
            <button class="viewBtn" disabled><span padding5>View all our services</span></button>
        </div>
    </div>
</div>