.serviceWall {
    background-image: url(/assets/service-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100%;
    margin-top: 100px
}

.serviceName {
    color: white;
    font-family: Raleway;
    text-align: center;
}

.custom-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.circle {
    margin: auto;
    background-color: white;
    height: 210px;
    width: 210px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
}

.circle:hover {
    transform: scale(1.2, 1.2);
}

.circle-icon {
    margin: auto;
    display: flex;
    flex-direction: column;
}

i {
    margin: auto;
    font-size: 130px;
    color: #61B6ED;
}

.label {
    width: fit-content;
    margin-top: 5px;
    margin: 0 auto;
}

.allForService {
    text-align: center;
    padding: 20px
}

*[padding5] {
    padding: 5px;
}

.viewBtn {
    height: 60px;
    background-color: #3ab4ff;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.viewBtn:hover {
    transform: scale(1.1, 1.1);
}