.allContent {
    width: 100%;
    height: 400px;
    background-image: url(/assets/search-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 110px;
}

.container {
    display: flex;
    height: 400px;
}

.content {
    margin: auto;
    height: fit-content;
}

h5 {
    color: white;
    text-align: center;
}

.second-button {
    border-radius: 0px 50px 50px 0;
}

.first-button {
    border-radius: 0;
}

.search {
    display: inline-block;
    width: 100%;
}

.input-group {
    width: 70%;
    margin: 0 auto;
}

.form-control {
    border-radius: 50px 0 0 50px;
    width: 70%;
}

input {
    padding-left: 50px;
    border: none;
    background-image: url(/assets/search.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 20px;
    font-size: 16px;
}

@media screen and (max-width: 991px) {
    .input-group-btn {
        margin: 0 auto;
        margin-top: 4px;
    }
}

@media screen and (max-width: 767px) {
    .first-button {
        border-radius: 50px 0 0 50px;
    }
    .form-control {
        border-radius: 50px 50px 50px 50px;
    }
}