<div class="allContent">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 content centered">
                <div style="margin-bottom:10px;">
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. inventore tempore quas, asperiores est unde. Hic, ipsam.</h5>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-primary first-button" type="button">Sharp</button>
                        <button class="btn btn-default btn-success second-button" type="button">Sharp</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>